.places {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: minmax(auto, 320px);
  padding: 0;
  row-gap: 35px;
  box-sizing: border-box;
  margin-top: 64px;
}

@media screen and (min-width: 768px){
  .places {
    grid-template-columns: 768px;
    row-gap: 25px;
  }
}
@media screen and (min-width: 1024px){
  .places {
    grid-template-columns: 928px;
    margin: 90px 48px 0 48px;
    row-gap: 70px;
  }
}
@media screen and (min-width: 1280px){
  .places {
    grid-template-columns: 984px;
    margin: 90px 148px 0 148px;
    row-gap: 60px;
  }
}
