@media screen and (min-width: 320px) {
  .lead {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .lead {
    margin: 50px 48px;
  }
}
@media screen and (min-width: 1024px) {
  .lead {
    margin-top: 45px;
  }
}
@media screen and (min-width: 1280px) {
  .lead {
    margin-top: 55px;
  }
}
.lead {
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
}
