.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .lead {
    margin: 45px 48px;
  }
}
@media screen and (min-width: 1280px) {
  .lead {
    margin: 55px 148px;
  }
}
