@media screen and (min-width: 320px) {
  .header__logo {
    max-height: 42px;
    max-width: 142px;
  }
}
.header__logo {
  margin: 0;
  padding: 0;
  max-height: 52px;
  max-width: 177px;
  justify-self: start;
  object-fit: contain;
}
