@media screen and (min-width: 320px) {
  .header {
    margin: 16px 16px 0 16px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    margin: 24px 28px 0 28px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    margin: 28px 48px 0 48px;
  }
}
.header {
  padding: 0;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, minmax(30px, 180px));
  grid-template-rows: minmax(42px, 52px);
}


