.place__paragraphs {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  z-index: 1;
  grid-column: 1;
  grid-row: 3;
  box-sizing: border-box;
  padding: 0 16px;
}


@media screen and (min-width: 768px){
  .place__paragraphs {
    padding: 0;
    grid-row: 2;
    grid-column: 2;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraphs {
    max-width: 455px;
    padding: 0;
  }
}
