@media screen and (min-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
    padding-right: 16px;
  }
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
