.intro {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, 720px);
  padding: 0 16px;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 0px 24px;
  }
}


@media screen and (min-width: 1024px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    padding: 0 150px;
  }
}
