@media screen and (min-width: 320px) {
  .lead__image_background {
    max-width: 320px;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .lead__image_background {
    max-width: 768px;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image_background {
    max-width: 928px;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .lead__image_background {
    max-width: 984px;
    margin: 0;
    padding: 0;
  }
}

.lead__image_background {
  object-fit: contain;
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 1;
}
