@media screen and (min-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin-top: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__subtitle {
    margin: 30px;
  }
}
.lead__subtitle {
  font-weight: normal;
  color: #fff;
  text-align: center;
  white-space: pre-line;
}
