.cover {
  display: grid;
  grid-template-columns: auto;
  margin: 60px auto 0 auto;
  min-height: 200px;
}

@media screen and (min-width: 768px) {
  .cover {
    margin: 30px auto 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1154px;
    margin-top: 90px;
  }
}
