.cover {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(200px, auto);
  margin: 60px auto 0 auto;
}

@media screen and (min-width: 768px) {
  .cover {
    grid-template-rows: minmax(480px, auto);
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    grid-template-rows: 640px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1154px;
    grid-template-rows: 740px;
  }
}
