.lead__caption {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0 0 20px;
  grid-row: 3;
  grid-column: 1;
  background-image: none;
}
