.cover__title {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  white-space: pre-line;
  color: #fff;
  font-size: 32px;
  line-height: 35px;
  text-decoration: none;
  margin-bottom: 20px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}

