.footer {
  display: grid;
  margin: 30px auto 20px auto;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: minmax(200px, auto);
  padding: 0px 16px;
}

@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: minmax(720px, auto);
    margin: 30px auto 20px auto;
    padding: 20px 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    grid-template-columns: minmax(928px, auto);
    padding: 60px 48px 0 48px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    grid-template-columns: minmax(1184px, auto);
    padding: 30px 48px 0 48px;
  }
}
