@media screen and (min-width: 320px) {
  .lead__image_vector {
    max-width: 320px;
    max-height: 200px;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .lead__image_vector {
    margin: 40px auto;
    max-width: 680px;
  }
}
@media screen and (min-width: 1024px) {
  .lead__image_vector {
    max-width: 885px;
  }
}
@media screen and (min-width: 1280px) {
  .lead__image_vector {
    max-width: 938px;
  }
}
.lead__image_vector {
  grid-column: 1;
  grid-row: 1;
  padding: 0;
  z-index: 2;
  align-self: center;
}
